{% extends 'base.html' %}
{% block content %}

<h1>Post</h1>
<ul>
{% for post in object_list %}
    <li><a href = "{% url 'blog:post_details' pk=post.pk %}">
    {{ post.title }}</a> - {{ post.author }} - {{ post.post_date}}
    <small>
        {% if user.is_autheniticated %}
        
            -<a href="{% url 'blog:update_post' pk=post.pk %}">Edit</a>
            <a href="{% url 'blog:delete_post' pk=post.pk %}">Delete</a>
        {% endif %}    
    </small><br/>
    {{ post.body |slice: ":200"}}</li>
{% endfor %}
</ul>
{% endblock %}