

{% if request.user.is_authenticated %}
        <!-- Category menu code -->
        {% if category_menu %}
        
        <div class="mt-10  text-l font-bold mr-10 ml-10 collapse navbar-collapse" >
          <ul class="navbar-navs text-medium">

                {% for item in category_menu %}
                <a class="navs-link mx-3" href="{% url 'blog:category_post' item|slugify %}">
                  {{item}}
                </a>
                {% endfor %}
          
            </li>
            {% else %} 
            <!-- category_list -->
            <li class="text-center text-l font-bold ml-10">
              <a class="navs_link" href="{% url 'blog:category_list' %}">Categories</a>
            </li>
            {% endif %}

           


          </ul>
          {% if user.is_authenticated %}
            {% include 'components/nav/user-dropdown.html' %}

          </div>
          {% endif %}

          {% else %}
          <div class="flex content-center">
            <ul class="navbar-nav me-auto text-center text-xl font-bold ml-10 mb-2 mb-lg-0">
  
              <li class="text-center">
                <a  href="{% url 'users:register' %}">Register</a>
              </li>
              <li class="text-center">
                <a href="{% url 'users:login' %}">Login</a>
              </li>
          </ul>
        </div>
          {% endif %}
        
        