{% extends 'base.html' %} {% block content %} {% load static %}


<div class="grid grid-cols-2 gap-2">
  <div class="mt-10 ml-20">
    <img src="{% static 'images/contact/phone.png' %}" />
  </div>

  <div>
    <h6 class=" mt-10 mr-20 text-center text-2xl font-extrabold	">Contact Us</h6>
    <form action="" method="post" class="mt-10 mr-20 ">
      {% csrf_token %}
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="yTF5g7ceTgkwsOimKxZpuV10DG4a1TWFwQ60pneu047lPvu6kTAlNYPfYEC9G8jq"
      />
      <tr>
        <th>
          <label class="text-lg text-semibold">Email:</label>
        </th>
        <td>
          <input
            type="email"
            name="email"
            class="form-control border-solid border-2 border-black"
            maxlength="254"
            required
          />
        </td>
      </tr>
      <tr>
        <th>
          <label class="text-lg text-semibold">Subject:</label>
        </th>
        <td>
          <input
            type="text"
            name="subject"
            maxlength="255"
            class="form-control border-solid border-2 border-black"


            required
          />
        </td>
      </tr>
      <tr>
        <th>
          <label class="text-lg text-semibold">Message:</label>
        </th>
        <td>
          <textarea
       
            cols="2"
            rows="2"
            class="form-control border-solid border-2 border-black"

            required
          
          ></textarea>
        </td>
      </tr>
      <button class="bg-black hover:bg-pink-700 text-white font-bold py-2 px-4 border border-pink-700 rounded">

     Submit</button>
    </form>
  </div>
</div>

{% endblock %}
