h11 {
  position: relative;
  font-size: x-large;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding-top: 30%;
  padding-bottom: 7%;
  top: 15%;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
p {
  padding-top: 15%;
  padding-bottom: 7%;
  top: 15%;
  font-family: URW Chancery L, cursive;
}

.navbar-nav {
  font-size: medium;
  font-weight: 700;
}

.home-img {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  padding-left: 10%;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%;
  z-index: 1;
}

.image-stack__item--bottom-B {
  grid-row: 1;
  grid-column: 4 / -2;
  padding-top: 20%;
  z-index: 1;
}
.move-forward {
  position: relative;
  left: 1200px;
  top: 35px;
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.contacts {
  color: rgb(0, 0, 0);
  position: relative;
  right: 1150px;
  top: 300px;
  font-size: 14px;
}

img {
  width: 70%;
  display: block;
}
.nav-link {
  text-decoration: underline;
  position: relative;
  left: 0px;
  top: 2px;
}
.baseContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .baseContainer {
    display: flex;
    height: 100vh;
    width: 100%;
  }
}
