{% extends 'base.html' %}
{% block title %} Create A New Profile Page {% endblock %}

{% block content %}
{% if user.is_authenticated %}   
    {% if user.id == post.author.id %}    

        <h1> Create Profile Page  </h1>
        <br/>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <br/>
                <button  class="text-black mt-20 font-bold hover:text-pink-700" > Create Profile Page </button>
            </form>
        </div>
        {% else %}
            You are not allowed here! (and you know it...)
        {% endif %}
{% else %}
You are not allowed here! (and you know it...)
{% endif %}
{% endblock %}