{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    
</style>

<h1>User profile</h1>
<br />
{{page_user.author.username}}


<div class="card-mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if page_user.profile_picture %}
            <img src="{{ page_user.profile_picture.url }}" class="card-img" />

            {% else %}
            <img src="{% static 'startblog/images/download.png' %}" class="card-img" />
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <p class="small text-muted">
                    <h5 class="card-title"> {{ page_user.username}} 
                    </h5>

                    {% if page_user.website_url%}
                    <a href="page_user.website_url">Website | </a>

                    {% endif %}
                    {% if page_user.facebook_url%}

                    <a target="_blank" href="page_user.facebook_url">Facebook | </a>
                    {% endif %}
                    {% if page_user.twitter_url%}

                    <a target="_blank" href="{{page_user.twitter_url}}">Twitter | </a>
                    {% endif %}
                    {% if page_user.instagram_url%}

                    <a target="_blank" href="{{page_user.instagram_url}}">Instagram | </a>
                    {% endif %}
                    {% if page_user.pinterest_url%}

                    <a target="_blank" href="{{page_user.pinterest_url}}">Pinterest </a>
                    {% endif %}
                    {% comment %}<img src="{{page_user.profile_picture.url}}" class="card-text" />{% endcomment %}


                <p class="card-text text-muted">{{ page_user.bio}}</p>
                
                </p>
            </div>


        </div>

    </div>
</div>




{% endblock %}