{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    h5.card-title{
        color: #FF1493;

    }
    
</style>


<h1>User profile</h1>
<br />
{{page_user.author.username}}


<div class="card-mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if page_user.profile_picture %}
            <img src="{{ page_user.profile_picture.url }}" class="card-img" />

            {% else %}
            <img src="{% static 'startblog/images/download.png' %}" class="card-img" />
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <p class="small text-muted">
                    <h5 class="card-title"> {{ page_user.username}} 
                    </h5>

                    {% include 'components/user_info/info.html' %}

                <p class="card-text text-muted">{{ page_user.bio}}</p>
                
                </p>
            </div>


        </div>

    </div>
</div>




{% endblock %}