{% extends 'base.html' %}
{% block title %}posts{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h7 class="text-center ml-20 mt-1   0 text-black text-2xl font-extrabold">Add Post</h7>

<div class="ml-20 mr-20 mt-10 text-bold" >
    <form method="POST" enctype="multipart/form-data" class="text-bold">
        {% csrf_token %}
        
        {{ form.media}}
        {{ form.as_p}}
        <button class="mt-10 bg-black  mr-5 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">
        Post
          </button>   
          <button class="mt-10 bg-black hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"><a href="{% url 'blog:home' %}" >
            Back </a> </button>   
    </form>
</div>

<script>
    var name = "{{ user.username }}";
    document.getElementById("elder").value = name;
</script>
{% else %}
You are not allowed here! (and you know it...)
{% endif %}
{%endblock%}