{% extends 'base.html' %} {% block content %} {% load static %}

<style>
     
    h11{
      position:relative;
      font-size: x-large;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      padding-top: 30%;
      padding-bottom: 7%;
      top:15%;
      }

    h2{

     
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
    }
    p{
      padding-top: 15%;
      padding-bottom: 7%;
      top:15%;
      font-family: URW Chancery L, cursive;
    }
      
    .navbar-nav {
        font-size: medium;
        font-weight: 700;

    }
    /* @media (min-width: 992px)
    .navbar-expand-lg .navbar-collapse {
        font-size: large;
    } */
    .home-img {
        padding: 100px 30px;
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
    }

    .image-stack {
        display: grid;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
    }

    .image-stack__item--bottom {
        grid-column: 4 / -1;
        grid-row: 1;
        padding-left: 10%;
    }

    .image-stack__item--top {
        grid-row: 1;
        grid-column: 1 / span 8;
        padding-top: 20%; 
        z-index: 1; 
    }
 
    .image-stack__item--bottom-B {
        grid-row: 1;
        grid-column: 4 / -2;
        padding-top: 20%; 
        z-index: 1; 
    }
    .move-forward{
        position: relative;
        left: 1200px;
        top: 35px;
        color: rgb(0,0,0)
            
    }
    .move-forward :hover{
        color: #FF1493;

    }

    .contacts{
      position: relative;
      color : rgb(0,0,0);
      bottom: 300px;

    }
    .contacts :hover{
      color: #FF1493;


    }
    img {
        width: 70%;
        display: block;
    }
  
</style>
<div class="move-forward">

  <a href="{% url 'blog:home' %}" class="next round">&#8250;</a>
  </div>
  
  
<div class="grid grid-cols-2 gap-2">
  <div class="home-about">
    <h11 class="font-effect-shadow-multiple">Life Cam</h11>
    <p><i>Welcome</i> to the photo blog where you will be able to <b>share</b> memories of your life with the use of images<p>
  </div>
  <div class="home-img">
    <div class="image-stack">
        <div class="image-stack__item image-stack__item--top">
          <img src="{% static 'startblog/images/home/picA.png' %}"  alt="">
        </div>
        <div class="image-stack__item image-stack__item--bottom">
          <img src="{% static 'startblog/images/home/picC.jpeg' %}" alt="">
        </div>
       
          <div class="image-stack__item image-stack__item--bottom-B">
            <img src="{% static 'startblog/images/home/picB.png' %}" alt="">
          </div>
      </div>
  </div>
</div>
<div class="contacts">
  <p> For more information
    <a class="nav-link active" aria-current="page" href="{% url 'contact:contact_views' %}" class="contact-link">Contact Us</a>
  </p> 

</div>



{% endblock %}
