{% extends 'base.html' %} {% block content %} {% load static %}



<div class="baseContainer">
 
    
  <div class="grid grid-cols-2 gap-2">
    <div class="mt-20">
      <h11 class="ml-20  font-bold text-4xl font-effect-shadow-multiple">Life Cam</h11>
      <div class="mt-10 ml-10 mr-10">

        <p><i>Welcome</i> to the photo blog where you will be able to <b>share</b> memories of your life with the use of images<p>
      </div>
      <div class="mt-10 mb-20 ml-20 mr-10">
        <span> For more information:  </span>
        
          <a class="text-black mt-20 font-bold hover:text-pink-700" aria-current="page" href="{% url 'contact:contact_views' %}" class="contact-link"> Contact Us</a>
    
      </div>
    </div>
    <div class="home-img">
        
            <img src="{% static 'startblog/images/home/picA.png' %}" class="h-56 mt-20  ml-20 content-center"  alt="">        
       
    </div>
  </div>

</div>


{% endblock %}
