{% extends 'base.html' %}
{% block content %}
<style>
    h9{
        font-weight: bolder;
        color: #000000;
        display: block;
        position:relative; 
        text-align: center;
        top:200px;
        font-size: x-large;
            
        
    }
    
</style>

{% if category_post %}

<h1>{{ cats }}</h1>
<ul>
    {% for post in category_post %}
    <li><a href="{% url 'blog:post_details' pk=post.pk %}">
            {{ post.title }}</a> - <b>{{ post.category }}</b> - {{ post.author. }}  {{ post.post_date}}
        <small>
            {% if user.is_authenticated %}

            -<a href="{% url 'blog:update_post' pk=post.pk %}">Edit</a>
            <a href="{% url 'blog:delete_post' pk=post.pk %}">Delete</a>
            {% endif %}
        </small><br />
        {{ post.body|slice:":200" | safe}}
    </li>
    {% endfor %}
</ul>
{% else %}

<a href="{% url 'blog:home' %}" >
    <h9>Sorry this page does not exist...</h9>
</a>
{% endif %}
{% endblock %}