{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div id="msg">{{ message }}</div>
{% endfor %}
{% endif %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% include 'components/nav/below-new-nav.html' %}
    </div>
</nav>



<div class="grid grid-cols-4 gap-4 auto-cols-min">
    {% for post in object_list %}

    {% if post.header_image %}
    {% include 'components/post_img/post-image.html' %}
    {% else %}
    {% include 'components/post_img/post-no-image.html' %}
    {% endif %}
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script defer>
    const msg = document.getElementById("msg")
    setTimeout(function () {
        msg.style.display = "none";
    }, 3000);

</script>
{% endblock %}