{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div id="msg">{{ message }}</div>
{% endfor %}
{% endif %}



<h1>Latest Blogs...</h1>
<div class="grid grid-cols-4 gap-4">
    {% for post in object_list %}

    {% if post.header_image %}
    {% include 'components/post_img/post-image.html' %}
    {% else %}
    {% include 'components/post_img/post-no-image.html' %}
    {% endif %}
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script defer>
    const msg = document.getElementById("msg")
    setTimeout(function () {
        msg.style.display = "none";
    }, 3000);

</script>
{% endblock %}