{% extends 'base.html' %}
{% block content %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<style>
    .floating-btn{
        width: 100px;
        height: 100px;
        background: #FFB6C1;
        display: flex;
        border-radius: 50%;
        color: black;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 2px 2px 5px rgba(0,0,0, 0.25);
        outline: #FFB6C1;
        border: none;
        cursor: pointer;
    }
</style>
{% if messages %}
{% for message in messages %}
<div id="msg">{{ message }}</div>
{% endfor %}
{% endif %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% include 'components/nav/below-new-nav.html' %}
    </div>
</nav>



<div class="grid grid-cols-4 gap-4 auto-cols-min">
    {% for post in object_list %}

    {% if post.header_image %}
    {% include 'components/post_img/post-image.html' %}
    {% else %}
    {% include 'components/post_img/post-no-image.html' %}
    {% endif %}
    {% endfor %}
</div>

<div class="floating-btn">
    <!-- <h1>floating button hopefully</h1> -->
    {% include 'components/nav/below-new-nav.html' %}
    <div  class="material-icons">add</a>
</div>


{% endblock %}

{% block scripts %}
<script defer>
    const msg = document.getElementById("msg")
    setTimeout(function () {
        msg.style.display = "none";
    }, 3000);

</script>
{% endblock %}