{% load humanize %}

<style>
    .card{
        width:max-content;
        height: 15em;
    }
    small{
        position:relative; 
        left:80px; 
        top:2px;
    }
</style>
<div class="card">
    
    
    <a href="{% url 'blog:post_details' pk=post.pk %}">
    
        {% if post.header_image %}
        <img src="{{ post.header_image.url }}">
            {% endif %}
             <small>{{ post.author.first_name}} {{ post.author.last_name}}
                <br/>{{ post.post_date}}</small>

        
    <small>
    </a>

    <p class="card-text"><small class="text-muted">{{post.post_time|naturaltime}}</small></p>
</div>